body {
  background-color: #efefef;
}

.container {
  margin-top: 1rem;

  .button {
    display: flex;
    align-items: center;
    justify-content: end;

    button {
      width: 150px;
      margin-bottom: 0 !important;
    }
  }

  table {
    width: 100%;
    font-size: 0.8rem;
    background-color: white;

    th {
      text-align: center;
    }

    td {
      text-align: right;
    }

    th,
    td {
      padding: 0 0.5rem;
    }

    .centered {
      text-align: center;
    }
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
